<%- include("./includes/authHead.ejs") %>
  <script src="/login/script.js" defer></script>
</head>

<%- include("./includes/authBody.ejs") %>

  <form action="/login" method="POST">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <div id="formUsername">
      <label for="username">Username</label>
      <input type="text" name="username" id="username" value="<% if (username) { %><%= username %><% } %>">
    </div>

    <div id="formPassword">
      <label for="password">Password</label>
      <input type="password" name="password" id="password">
      <% if (error) { %>
      <div class="error"><%= error.msg %></div>
      <% } %>
    </div>

    <button type="submit" id="submit">Log in</button>
  </form>

  <div id="signup">
    <p>Don't have an account?</p><a href="/signup">Sign Up</a>
  </div>
<%- include("./includes/authEnd.ejs") %>

