<%- include("./includes/authHead.ejs") %>
  <script src="/signup/script.js" defer></script>
</head>

<%- include("./includes/authBody.ejs") %>

  <form action="/signup" method="POST">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <div id="formUsername">
      <label for="username">Username</label>
      <input type="text" name="username" id="username" value="<% if (username) { %><%= username %><% } %>">
    </div>
      
    <div id="formPassword">
      <label for="password">Password</label>
      <input type="password" name="password" id="password">
    </div>

    <div id="formRePassword">
      <label for="rePassword">Re Password</label>
      <input type="password" name="rePassword" id="rePassword">
      <% if (error) { %>
          <div class="error"><%= error.msg %></div>
      <% } %>
    </div>

    <button type="submit" id="submit">Sign Up</button>
  </form>
  <div id="login">
    <p>Do you have an account?</p><a href="/login">Log in</a>
  </div>
<%- include("./includes/authEnd.ejs") %>

